# Trees in Paris

Let's first check that we are using a virtual environment

In [68]:
import os
assert os.environ.get('VIRTUAL_ENV', None) is not None, "Virtual environment is not activated. Please run this notebook after activation"
print('Virtual environment is activated')

Virtual environment is activated

In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

Now we can import the data from the csv file and have a first look at it:

In [69]:
arbres = pd.read_csv('p2-arbres-fr.csv', sep=";")
shape = arbres.shape
print(f'\nDataframe contains {arbres.shape[0]} rows and {shape[1]} columns.\n\n')
arbres.head()

Dataframe contains 200137 rows and 18 columns.

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
0,99874,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,NaN,20,5,NaN,0.0,48.857620,2.320962
1,99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,NaN,48.857656,2.321031
2,99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
3,99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
4,99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289

Each tree already has an index, so we can use it as the Dataframe index:

In [70]:
arbres.set_index('id', inplace=True)

In [71]:
arbres.head()

,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
id,,,,,,,,,,,,,,,,,
99874,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,NaN,20,5,NaN,0.0,48.857620,2.320962
99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,NaN,48.857656,2.321031
99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289

Let's go further and check the kind(and number) of values we have:

In [73]:
for column in arbres.columns:
    unique_values = arbres[column].unique()
    print(f'{column} ({len(unique_values)} values (first 25 displayed)):\n{arbres[column].unique()[:25]}\n')

type_emplacement (1 values (first 25 displayed)):
['Arbre']

domanialite (10 values (first 25 displayed)):
['Jardin' 'Alignement' 'DJS' 'DFPE' 'CIMETIERE' 'DASCO' 'DAC'
 'PERIPHERIQUE' 'DASES' nan]

arrondissement (25 values (first 25 displayed)):
['PARIS 7E ARRDT' 'PARIS 17E ARRDT' 'PARIS 16E ARRDT' 'PARIS 4E ARRDT'
 'PARIS 13E ARRDT' 'PARIS 12E ARRDT' 'PARIS 19E ARRDT' 'PARIS 14E ARRDT'
 'PARIS 15E ARRDT' 'PARIS 3E ARRDT' 'PARIS 20E ARRDT' 'PARIS 18E ARRDT'
 'PARIS 6E ARRDT' 'PARIS 11E ARRDT' 'PARIS 1ER ARRDT' 'PARIS 2E ARRDT'
 'PARIS 5E ARRDT' 'VAL-DE-MARNE' 'SEINE-SAINT-DENIS' 'HAUTS-DE-SEINE'
 'PARIS 9E ARRDT' 'PARIS 10E ARRDT' 'PARIS 8E ARRDT' 'BOIS DE BOULOGNE'
 'BOIS DE VINCENNES']

complement_addresse (3796 values (first 25 displayed)):
[nan 'c 12' '12-36' '12-35' 'face 64 Manin' '19-02' '19-06' '19-07'
 '19-09' '19-08' '19-10' '82 à 90' '19-04' '19-16' '19-12' '19-11' '19-03'
 '13-04' '13-01' '13-03' '07-09' '07-06' '07-05' '07-04' '70 à 80']

numero (1 values (first 25 displayed)):
[nan]

lieu (6921 values (first 25 displayed)):
['MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E'
 'PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING'
 'SQUARE ALEXANDRE ET RENE PARODI / 1 PLACE DE LA PORTE MAILLOT'
 'JARDIN DE L AVENUE FOCH / 10 AVENUE FOCH' 'JARDIN DU RANELAGH'
 'JARDIN DE LA CITE INTERNATIONALE DES ARTS' 'SQUARE ALBERT SCHWEITZER'
 'JARDIN DU GENERAL ANSELIN / 1 AVENUE DE POLOGNE'
 'SQUARE CLARA ZETKIN / 21 AVENUE BOUTROUX' 'SQUARE GANDON'
 'PARC DE BERCY' 'PARC DES BUTTES CHAUMONT' 'JARDIN DU CHAMP DE MARS'
 'SQUARE RENE LE GALL' 'SQUARE DE LA PORTE DE LA VILLETTE'
 'PARC MONTSOURIS' 'JARDIN ALBERTO GIACOMETTI'
 'PARC GEORGES BRASSENS / 2 PLACE JACQUES MARETTE'
 'JARDINIERE PLACE THEODOR HERZL' 'SQUARE EMILE CHAUTEMPS'
 'SQUARE HENRI COLLET'
 "SQUARE FEDERICO GARCIA LORCA (EX: DU PORT DE L'HOTEL DE VILLE) / 7 PORT DE L HOTEL DE VILLE"
 'SQUARE LEON FRAPIE' 'JARDIN DU CLOS DES BLANCS MANTEAUX'
 'SQUARE RAYMOND QUENEAU']

id_emplacement (69040 values (first 25 displayed)):
['19' '20' '21' '22' '000G0037' '000G0036' '000G0035' '35' '802008'
 '802009' '802007' '20001' '20003' '20004' '20007' '20009' '20012' '20013'
 '20014' '20015' '20016' '20017' '20018' '20019' '20020']

libelle_francais (193 values (first 25 displayed)):
['Marronnier' 'If' 'Erable' 'Arbre à miel' 'Platane' 'Sophora'
 'Prunus n. sp.' 'Hêtre' 'Micocoulier' 'Tilleul' 'Chêne' 'Savonnier'
 'Copalme' 'Noyer' 'Arbre à caramel' 'Troene' 'Tulipier' 'Pin' 'Sapin'
 'Cerisier à fleurs' 'Charme-Houblon' 'Cèdre' 'Paulownia' 'Thuya'
 'Pommier à fleurs']

genre (176 values (first 25 displayed)):
['Aesculus' 'Taxus' 'Acer' 'Tetradium' 'Platanus' 'Sophora' 'Prunus'
 'Fagus' 'Celtis' 'Tilia' 'Quercus' 'Koelreuteria' 'Liquidambar' 'Juglans'
 'Cercidiphyllum' 'Ligustrum' 'Liriodendron' 'Pinus' 'Abies' 'Ostrya'
 'Cedrus' 'Paulownia' 'Thuja' 'Malus' 'Pyrus']

espece (540 values (first 25 displayed)):
['hippocastanum' 'baccata' 'negundo' 'daniellii' 'x hispanica' 'japonica'
 'n. sp.' 'sylvatica' 'occidentalis' 'tomentosa' 'robur' 'paniculata'
 'rufinerve' 'styraciflua' 'nigra' 'japonicum' 'lucidum' 'tulipifera'
 'concolor' 'saccharinum' 'x europaea' 'platyphyllos' 'platanoides'
 'serrulata' 'carpinifolia']

variete (437 values (first 25 displayed)):
[nan "Atropunicea'" "Euchlora'" "Schwedleri'" "Pissardii'" "Pallida'"
 'n. sp.' "Chanticleer'" "Purpureum'" "Italica'" "Aspleniifolia'"
 "Jacquemontii'" "Fastigiata'" "Fastigiate Koster'" "Imperialis'"
 "Honey Dew'" "Jacqueline Hillier'" "Rubra Plena'" "Diversifolia'"
 "Flamingo'" "Argentea Marginata'" "Pendula'" "Liempde'" "Pyramidalis'"
 "Tortuosa'"]

circonference_cm (531 values (first 25 displayed)):
[ 20  65  90  60  38  37 260 145 135  15  30 205 155  25 185 200 100  35
 130  75 120 325 115  70  80]

hauteur_m (143 values (first 25 displayed)):
[ 5  8 10  0 17 14  3  6  4 11  7 15  9 18 12 16 19 20 13 27 25 22 30 35
 28]

stade_developpement (5 values (first 25 displayed)):
[nan 'A' 'J' 'M' 'JA']

remarquable (3 values (first 25 displayed)):
[ 0. nan  1.]

geo_point_2d_a (200107 values (first 25 displayed)):
[48.85761995 48.85765607 48.85770501 48.85772204 48.89043529 48.89046975
 48.89050362 48.87672178 48.87199004 48.87204618 48.87194806 48.85822161
 48.85821196 48.85813934 48.85822714 48.85804302 48.85804818 48.85790688
 48.85787713 48.85777407 48.85789801 48.85785885 48.85779243 48.85777327
 48.85775756]

geo_point_2d_b (200114 values (first 25 displayed)):
[2.32096211 2.32103142 2.32106057 2.32100583 2.31528946 2.3152281
 2.31516785 2.28022167 2.27581413 2.27575163 2.27586662 2.26928664
 2.2687938  2.26863434 2.26848911 2.26798914 2.26878338 2.26839454
 2.26835458 2.26816679 2.26807444 2.26789532 2.2679486  2.26799686
 2.26794698]

We notice that columns "type_emplacement" all have same value "arbre", and "numero" column has no value, which makes these fields not useful for the analysis. So we can drop them.

In [88]:
arbres.drop(['type_emplacement', 'numero'], axis=1, inplace=True)
arbres.head()

,domanialite,arrondissement,complement_addresse,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
id,,,,,,,,,,,,,,,
99874,Jardin,PARIS 7E ARRDT,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,NaN,20,5,NaN,0.0,48.857620,2.320962
99875,Jardin,PARIS 7E ARRDT,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,NaN,48.857656,2.321031
99876,Jardin,PARIS 7E ARRDT,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
99877,Jardin,PARIS 7E ARRDT,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
99878,Jardin,PARIS 17E ARRDT,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289

In [89]:
arbres.describe(include='all')

,domanialite,arrondissement,complement_addresse,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
count,200136,200137,30902,200137,200137,198640,200121,198385,36777,200137.000000,200137.000000,132932,137039.000000,200137.000000,200137.000000
unique,9,25,3795,6921,69040,192,175,539,436,NaN,NaN,4,NaN,NaN,NaN
top,Alignement,PARIS 15E ARRDT,SN°,PARC FLORAL DE PARIS / ROUTE DE LA PYRAMIDE,101001,Platane,Platanus,x hispanica,Baumannii',NaN,NaN,A,NaN,NaN,NaN
freq,104949,17151,557,2995,1324,42508,42591,36409,4538,NaN,NaN,64438,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.380479,13.110509,NaN,0.001343,48.854491,2.348208
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,673.190213,1971.217387,NaN,0.036618,0.030234,0.051220
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,48.742290,2.210241
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.000000,5.000000,NaN,0.000000,48.835021,2.307530
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.000000,8.000000,NaN,0.000000,48.854162,2.351095
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.000000,12.000000,NaN,0.000000,48.876447,2.386838
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250255.000000,881818.000000,NaN,1.000000,48.911485,2.469759

## TODO:
- process Nan values
- plot boxplot and find outliers on dimensions 
- find most common / rarest varieties
- scatter plot for circonference_cm / hauteur_m (after normalization)
- are there clusters ? Can it be related to species ?
- confusion matrix to detect correlations (only for numerical data)
- Folium map ?

In [ ]:
circonference = arbres['circonference_cm'].reshape(-1,1)
hauteur = arbres['hauteur_m']
scaler = preprocessing.StandardScaler()
scaled_circonference = scaler.fit(circonference)